/* Practical CSS Animations Workshop */
/* CSS */
/* Add your CSS style rules here */


/* Start writing code here! */


/* Settings */
:root {
  --ax-delay: 0;
  --ax-duration: 300;
  --ax-timingFunction: ease;
}
/* Settings */

.ax-stagger {

}

/* anything that has a child of anyhing, the first one */
* > *:nth-child(1) {
  --nIndex: 0;
}
/* Components */
.ax-El,
.ax-List > * {
  transition-property: all;
  transition-delay: calc(var(--ax-delay) * 1ms);
  transition-duration: calc(var(--ax-duration) * 1ms);
  transition-timing-function: var(--ax-timingFunction);
}

/* Components */



/* Sequences */
.ax-El.ax-fade,
.ax-List.ax-fade > * {
  opacity: 0;
}

.ax-El.ax-fade.active,
.ax-List.ax-fade.active > * {
  opacity: 1;
}

.ax-El.ax-up,
.ax-List.ax-up > * {
  transform: translateY(20%);
}
.ax-El.ax-up.active,
.ax-List.ax-up.active > * {
  transform: translateY(0);
}

/* upscale will overwrite the ax-up */

.ax-El.ax-upscale {
  transform: scale(0.8) translateY(10%) rotate(30deg);
}

.ax-El.ax-upscale.active {
  transform: scale(1) translateY(0) rotate(0deg);
}

/* Sequences */
